:root {
  scroll-behavior: smooth;
  // brand colors
  --c-brand: #1097e5;
  --c-brand-light: #1097e5;
}

.token.variable {
  color: #1097e5;
};

.token.string {
  color: #1097e5;
};

.token.operator {
  color: #85cff2;
};

html.dark {
  // brand colors
  --c-brand: #1097e5;
  --c-brand-light: #1097e5;
}

@media (min-width: 751px) {
  #docsearch-container:lang(zh-CN) {
    min-width: 184.66px;
  }
}